# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

/.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
*.iml

**/.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Scala-IDE specific
.scala_dependencies
.worksheet

**/.DS_Store

/out
/rawData
/core/rawData
/testingRawData
/reports
*.db
*.db-journal

/buildSrc/build/
/core/build/
/core/out/
/build/
/core/fixtures/build
/core/fixtures/out
/lambdas/*/build
/lambdas/*/out
/tasks/*/build
/tasks/*/out
/shared/*/build
/shared/*/out