<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="au.id.tmm.ausvotes.api.logback.ApiLogbackLayout" />
    </encoder>
  </appender>

  <logger name="au.id.tmm" level="trace">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
